html, body {
  height: 100%;
}
body {
  margin: 0;
}

#webchat {
  height: 100%;
  width: 100%;
}

.wc-header {
  background-color: rgb(153,0,0);
}

.wc-message-from {
    display: none;
}

.wc-message-from-me {
    display: none;
}
