html, body {
  height: 100%;
}
body {
  margin: 0;
}

#webchat {
  height: 100%;
  width: 100%;
}

.wc-header {
  background-color: rgb(153,0,0);
}

.from-user {
    display: none;
}

.avatar {
    display: none;
}

.timestamp {
    display: none;
}


.main {
    display: none;
}

.wc-message-from-me {
    display: none;
}

.css-1882x3w > .main, [data-css-1882x3w] > .main {
    display: none;
}
